.main-articles {
  flex-basis: 100%;
  background-color: $main-color;
  color: #fff;

  display: flex;
  flex-wrap: wrap;

  &__intro {
    flex-basis: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 60px 0 30px;
    text-align: center;
    font-size: 4.4rem;
    letter-spacing: 2px;
  }

  &__article {
    flex-basis: 50%;
  }
}
